.header {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    margin: 0 50px;
    max-width: 1440px;
}

.data-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}

.cart-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}

.text-wrapper > p:nth-child(1) {
    text-align: right;
}

.button-logout {
    cursor: pointer;
    padding: 10px 75px;
    background: none;
    border: 1px solid rgba(213, 140, 81, 1);
    color: rgba(213, 140, 81, 1);
}

@media screen and (max-device-width: 950px) {
    .header {
        min-width: 600px;
    }
}
