.bkg {
    width: 100vw;
    max-width: 1920px;
    min-width: 520px;
    height: 1080px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-image: url("../../assets/registerLogin.png");
    overflow: hidden;
}
