.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 70px 80px 70px;
    background-color: #161516;
}

.header__our-prod {
    font-weight: 700;
    font-size: 31px;
}

.header__cart-wrapper {
    display: flex;
    gap: 20px;
    align-items: center;
}

.header__cart-link {
    display: flex;
    gap: 10px;
    align-items: center;
}

.cart__text-wrapper {
    text-align: right;
    font-size: 17px;
    font-weight: 500;
}

.img {
    width: 50px;
    height: 50px;
}

.button-logout {
    padding: 12px 75px;
    font-size: 14px;
    font-weight: 400;
    background: none;
    border: 1px solid rgba(213, 140, 81, 1);
    color: rgba(213, 140, 81, 1);
}

p {
    margin: 0;
}
